.navbar-toggle {
    margin-top: 13px;
}
.navbar-right{
    margin-top: 9px;
    
}
.navbar-inverse .navbar-nav > li > a {
    color: #669;
}

.btn .btn-blue .btn-effect {
    text-transform: uppercase;
}