#hero {
    display: flex;
    align-items: center;
    height: 85vh;
    width: 100vw;
    background-color: #E3F2FD;
}

#hero h1 {
    color:  #666699;
    font-size: 48px;
}

#hero p {
    color: #666699;
    opacity: 0.54;
    font-size: 21px;
}

.navbar-toggle {
    margin-top: 13px;
}
.navbar-right{
    margin-top: 9px;
    
}
.navbar-inverse .navbar-nav > li > a {
    color: #669;
}

.btn .btn-blue .btn-effect {
    text-transform: uppercase;
}
.btn-blue {
    background-color: #669;
}

.mapa-responsivo{
    overflow:hidden;
    padding-bottom:15%;
    position:relative;
    height:0;
}

.mapa-responsivo iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.testimonial-item img {
    border: none;
    border-radius: 0;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #666699;
}

.navbar-header h1{
    margin-left:25px;
}
#home-slider h2, span{
    color: #669;
    text-shadow: 1px 1px white;
    font-weight: 600;
}
#about {
    background-color: #669;
}
a:hover, a:focus {
    color: #669;
}
h2, h3 {
    color: #669;
}
h1 {
    font-size: 48px;
    color: white;
}
#footer {
    padding-bottom: 10px;
}
/*#portfolio h2, h3 {
    color: #669;
}*/
/* #service h2, h3 {
    color: #669;
}
#contact*/